{% extends 'news/base.html' %}

{% block main %}
<main class="container" >
    <div style="background-color: #f6f6ef;" >
        <ol class="container">
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
            <li><a class="uprow" href="#">&#8227;</a>
                <a style="color: #000;" href="#">This is Title</a>
                <span><a href="#">(github.com)</a></span>
                <p>200 points by <a href="#">Amin</a> 2 hours ago</p>
            </li>
        </ol>
        <div class="container pagination" ><a href="#">More</a></div>
    </div>
</main>
{% endblock main %}